#image {
    max-width : 100%;
    display: block;
}
body {
    text-align: center;

}

#title {
    text-align: center;
}
img 
{
    text-align: center;
    margin: 0 auto;
}
#img-caption {
    text-align: center;
    margin-top: 20px;
    color:skyblue;
}
#tribute-info > p 
{
    margin-top: 2%;
} 
.container > h4 
{
    color:skyblue;
}
.cap
{
    font-size: 30px;
    margin:4% ;
}
h5 {
    text-align: center;
}